.Landing {
  background-image: linear-gradient(to bottom, rgba(31, 132, 107, 0.78), rgba(35, 83, 71, 0.78)),
    url("/login_bg.jpg");
  min-width: 100%;
  min-height: calc(100vh + 80px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.Left {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-top: 10%;
}

.Left h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 5vw;
  margin: 0;
  margin-top: 5vw;
}

.Left p {
  color: white;
  font-size: 2vw;
}

.Left strong {
  color: yellow;
}

.Right {
  float: right;
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.Landing button {
  border-radius: 500vw;
  padding: 1vw 2vw;
  font-size: 2vw;
}

.Landing button:active {
  scale: 0.9;
}

.Landing button:hover {
  cursor: pointer;
}

.btn1 {
  background-color: white;
  color: rgb(243, 197, 101);
  border: none;
}

.btn2 {
  background-color: transparent;
  color: white;
  border: white 1px solid;
  margin-left: 10px;
}

.img1 {
  position: absolute;
  left: 60%;
  top: 8vw;
  padding: 0px;
  height: 20vw;
  border-radius: 0.7vw;
  margin-top: 10%;
}

.img2 {
  position: absolute;
  left: 73%;
  top: 23vw;
  padding: 0px;
  height: 15vw;
  border-radius: 0.7vw;
  margin-top: 10%;
}
/* 
@media only screen and (max-width: 838px) {
  .Left {
    padding-left: 50px;
  }
  .Left h1 {
    font-size: 30px;
  }
  .btn2 {
    margin-left: 0;
  }
  .img1 {
    height: 200px;
    left: 50%;
  }
  .img2 {
    height: 130px;
    left: 55%;
    top: 200px;
  }
} */
