.tables {
  font-family: Inter;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.td {
  text-align: center;
  padding: 15px;
}

.th {
  padding: 10px;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #aad0bd;
  color: black;
  cursor: default;
}
