.InfoContainer {
  margin: 30px 40px;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  text-align: center;
}

.Appointment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-gap: 20px;
}

.Appointment h2 {
  text-decoration: underline;
  text-decoration-color: #aad0bd;
}

@media only screen and (max-width: 1000px) {
  .Appointment {
    grid-template-columns: minmax(0,1fr);
  }
}