.Contact {
  background-image: linear-gradient(to bottom, rgba(32, 73, 62, 0.5), rgba(32, 73, 62, 0.5)),
    url("/about/5.jpg");
  min-width: 100%;
  min-height: calc(100vh + 80px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.contents {
  margin: 1vw;
  color: white;
  /* border: 1px solid #ccc; */
  width: 70vw;
}

.contents strong {
  color: rgb(250, 199, 99);
}

.contents h1 {
  font-size: calc(3vw + 25px);
  letter-spacing: 0.3vw;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  /* border: 1px solid #ccc; */
}

.contents p {
  letter-spacing: 0.1vw;
  font-size: calc(1.3vw + 1px);
}

.contents .block {
  float: left;
  width: 33%;
  /* border: 1px solid #ccc; */
  padding: 0 calc(0.2vw + 20px);
}

.contents .block img {
  height: 8vw;
}

.contents .clr {
  clear: both;
}

.contents .box {
  justify-content: center;
  background-color: rgb(143, 164, 145);
  opacity: 0.88;
  padding: 10px;
  border-radius: 50px;
  border-width: 5px 5px;
  width: 80%;
  margin: auto;
}

.contents .box h2 {
  text-align: center;
  font-size: calc(2vw + 20px);
  margin: 0;
  color: rgb(32, 78, 65);
}

.FormItems {
  display: flow-root;
}

.FormItems input {
  font-size: calc(1vw + 10px);
  padding: 10px;
  margin-top: 10px;
  margin-left: 1%;
  border: solid 1px rgb(32, 78, 65);
  background-color: #aad0bd;
  width: 98%;
  border-radius: 7px;
}

.FormItems button {
  margin: 10px 10px;
  background-color: rgba(108, 156, 134, 0.514);
  border-radius: 15px;
  box-shadow: none;
  border: solid 1px rgb(32, 78, 65);
  font-size: calc(1vw + 10px);
  margin-bottom: 10px;
  float: right;
  padding: 10px 30px;
}

.FormItems button:hover {
  cursor: pointer;
}

.FormItems button:active {
  scale: 90%;
}

@media only screen and (max-width: 1000px) {
  .contents h1 {
    font-size: calc(2vw + 25px);
  }
  .contents p {
    font-size: calc(1.1vw + 1px);
  }

  .contents .block img {
    height: 6vw;
  }

  .contents .box {
    border-radius: 30px;
  }

  .contents .box h2 {
    font-size: calc(1.5vw + 15px);
    margin: 0;
    color: rgb(32, 78, 65);
  }

  .FormItems input {
    font-size: calc(0.8vw + 7px);
    padding: 6px;
    margin-top: 6px;
    border-radius: 5px;
  }

  .FormItems button {
    margin: 6px 6px;
    border-radius: 10px;
    font-size: calc(0.6vw + 10px);
    margin-bottom: 6px;
    float: right;
    padding: 6px 15px;
  }
}

@media only screen and (max-width: 700px) {
  .contents {
    width: 100%;
  }
  .contents h1 {
    font-size: calc(2vw + 10px);
  }
  .contents p {
    font-size: calc(1.1vw + 4px);
  }
  .contents .block {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .contents .block img {
    height: calc(3vw + 30px);
  }

  .contents .box {
    border-radius: 30px;
  }

  .contents .box h2 {
    font-size: calc(1.5vw + 15px);
    margin: 0;
    color: rgb(32, 78, 65);
  }

  .FormItems input {
    font-size: calc(0.8vw + 7px);
    padding: 6px;
    margin-top: 6px;
    border-radius: 5px;
  }

  .FormItems button {
    margin: 6px 6px;
    border-radius: 10px;
    font-size: calc(0.6vw + 10px);
    margin-bottom: 6px;
    float: right;
    padding: 6px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .contents h1 {
    font-size: calc(2vw + 15px);
    margin-top: 10%;
  }

  .contents p {
    font-size: calc(1.1vw + 7px);
  }

  .contents .block img {
    height: calc(3vw + 50px);
  }

  .contents .box {
    border-radius: 30px;
    margin-top: 5%;
  }

  .contents .box h2 {
    font-size: calc(1.5vw + 15px);
    margin: 0;
    color: rgb(32, 78, 65);
  }

  .FormItems input {
    font-size: calc(0.8vw + 7px);
    padding: 6px;
    margin-top: 6px;
    border-radius: 5px;
  }

  .FormItems button {
    margin: 6px 6px;
    border-radius: 10px;
    font-size: calc(0.6vw + 10px);
    margin-bottom: 6px;
    float: right;
    padding: 6px 15px;
  }
}
