/* GENERAL */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-family: Inter;
    margin-left: 2em;
    font-size: 0.9em;
}

.red {
    color:red;
}

.input {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 16em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    margin-top:1.2em;
    font-size: 1.5em;
}

.h5 {
    z-index: 1;
    color: rgb(248, 42, 42);
    font-family: Inter;
}

.h4 {
    z-index: 1;
    font-family: Inter;
    font-size: 0.9em;
}

.btnSub {
    font-family: Inter;
    background-color: #72B292;
    color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btnRes {
    font-family: Inter;
    background-color: #B27272;
    color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btnRes:hover {
    font-family: Inter;
    background-color: #976262;
    color:white;
}

.btnAlign {
    margin-left: 50%;
}

/* SPECIFIC */
.picture {
    z-index: 1;
    display: block;
    height: 100%;
    width: 15%;
    float: left;
    margin: 0.5em 1em 2em 2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-family: Inter;
}

.mainDetails {
    z-index: 1;
    display: block;
    height: auto;
    width: 45%;
    float: left;
    margin: 0.5em 1em 2em 1em;
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color:white;
    border: 2px solid #AAD0BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.otherDetails {
    z-index: 1;
    display: block;
    height: auto;
    width: 25%;
    float: left;
    margin: 0.5em 2em 2em 1em;
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color:white;
    border: 2px solid #AAD0BD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.info {
    display: block;
    height: auto;
    width: 70%;
    float: left;
    padding-left: 2.5em;
}

.imageUpload {
    padding-top: 1em;
    display: block;
    height: 40em;
    width: 35%;
    float: left;
    margin-left: 1em;
    text-align: center;
}

.wave {
    margin-top: -20%;
}

.waveBack {
    background-color: #A3B7B0;
}

/* ANNOYING */

.input1 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 12em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input2 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 14.2em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input3 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 13em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input4 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 14.6em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.input5 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 17em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input6 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 18.9em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input7 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 16.6em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input8 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 18.3em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input9 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 17.3em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.input10 {
    box-sizing: 20em;
    position: absolute;
    width: 170px;
    height: 22px;
    margin-left: 8.8em;
    background: #F8F9F6;
    font-size: 0.8em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}