/* GENERAL */
.FormItems {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 50px; */
    justify-items: center;
    margin: 0 5%;
    gap: 20px
}

.FormItems label {
    display: inline-block;
    width: 50%;
    font-family: Inter;
    /* margin-left: 2em; */
    /* font-size: 0.9em; */
    margin-top: 1em;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormItems input, .FormItems select {
    display: inline-block;
    width: 50%;
    height: 2em;
    background: #fdfdfc;
    font-size: 0.8em;
    padding-left: 0.9em;
    border: 1px solid #72B292;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    margin-top:1.2em;
    font-size: 1.5em;
}

.h4 {
    z-index: 1;
    font-family: Inter;
    font-size: 0.9em;
    padding-top: 0.2em;
}


.btnSub1 {
    font-family: Inter;
    background-color: #72B292;
    color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* SPECIFIC */
.mainDetails, .otherDetails {
    display: block;
    height: fit-content;
    width: 90%;
    /* width: 50%; */
    /* float: left; */
    /* margin: 0.5em 1em 2em 1em; */
    /* margin: 0 20px; */
    padding: 2em 2em 3.5em 2em;
    background-color:white;
    border: 2px solid #AAD0BD;
    border-radius: 20px;    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.customFormInput {
    display: grid;
    grid-template-columns: 40% 60%;
}

.successMsg {
    color: green;
}

.errorMsg {
    color: red;
}

@media only screen and (max-width: 700px) {
    .FormItems {
        grid-template-columns: 1fr;
        margin: 10px 15px;
    }

    .mainDetails, .otherDetails {
        /* padding: 0.5em 0.5em 1.5em 0.5em; */
        width: 100%;
    }

    .btnSub1 {
        display: block;
        width: 90%;
        margin: 25px auto;
    }

    /* .FormItems label {
        display: inline-block;
        width: 150px;
      } */

  }